/* TemplateHub Plugin Styles */

.th-icon-mosaic {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    gap: 8px;
    padding-left: 48px; /* Aligns with setting-item-control */
    margin-bottom: 20px;
}

.th-icon-mosaic-item {
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid var(--background-modifier-border);
    text-align: center;
}

.th-icon-mosaic-item:hover {
    background-color: var(--background-modifier-hover);
}
